#debug {
padding: 4px 30px;
width: 80%;
position: fixed;
right: 10px;
bottom: 20px;
border-color: #A89A9A;
font-size: 25px;
color: #FFF;
border-style: outset;
display: none;
}
#debug.error {
	display: block;
	background-color: #F00;
}
#debug.correct {
display: block;
background-color: #16880C;
}